<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home Page</title>
    <th:block th:replace="base :: links"></th:block>
</head>
<body>
    <div th:replace="base :: header"></div>
    <section class="container mt-3">
        <h2>Danh sach san pham</h2>
        <a href="#" class="btn btn-outline-success" > Them san pham </a>       
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Anh</th>
                    <th>Ten san pham</th>
                    <th>Gia san pham</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="p : ${products}">
                    <td >
                        <img th:src="${p.image}" width="150"/>
                    </td>
                    <td th:text="${p.name}" class="text-center"></td>
                    <td th:text="${p.price}"></td>
                    <td>
                        <button class="btn btn-danger">&times;</button>
                        <a href="#" class="btn btn-info">&and;</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    <div th:replace="base :: footer"></div>
</body>
</html>